<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/output.css">
    <%-include('partials/favicon') %>
    <title>My Food Journal</title>
</head>
<body>
    <%-include('partials/nav') %>
    <main class="flex flex-col justify-center mx-1">
        <img src="/assets/food-journal-logo.png" alt="A journal drawing with a strawberry image on the journal" class="mx-auto" id="logoTitle">
        <h1 class="text-center">My Food Journal</h1>
        <% if (typeof timeItems[0] != 'undefined') { %>
            <div class="min-w-1/2 mx-auto">
            <% for (var timeItem of timeItems) { %>
                <h3 class="text-center py-1"><%= timeItem['time'] %>:00</h3>
                <% for (var item of timeItem['items']) { %>
                    <a href="<%= item['type'] == 'Food' ? 'food-item?id='+item['foodid'] : item['type'] == 'Mood' ? 'mood-item?id='+item['moodid'] : 'sickness-item?id='+item['sicknessid']%>"
                    class="flex flex-row gap-1 justify-center div-hover mb-1 w-full">
                        <% if (item['type'] == 'Food') { %>
                            <img src="/assets/food-icon.png" alt="An icon of a strawberry, linking to the create food page" class="h-2">
                        <% } else if (item['type'] == 'Mood') { %>
                            <img src="/assets/mood-icon.png" alt="An icon of a smiling face, linking to the create mood page" class="h-2">
                        <% } else { %>
                            <img src="/assets/sickness-icon.png" alt="An icon of an ill face, linking to the create sickness page" class="h-2">
                        <% } %>
                        <div class="flex flex-col gap-0.5">
                            <h3 class="border-underline"><%= item['name'] %></h3>
                            <p><%= item['description'] %></p>
                        </div>
                        <p class="ml-auto mr-0 h-fit border-underline"><%= item['type'] == 'Food' ? item['timeeaten'].slice(0, 5) : item['time'].slice(0, 5) %></p>
                        <%-include('partials/icon', {src:"/assets/Delete-Icon.png", 
                        alt:"A bin, clicked to delete items", text:"Delete", addClass:(item['type'] == 'Food' ? 'deleteItem Food-'+item['foodid'] : item['type'] == 'Mood' ? 'deleteItem Mood-'+item['moodid'] : 'deleteItem Sickness-'+item['sicknessid'])}) %>
                    </a>
                <% } %>
            <% } %>
            </div>
        <% } else { %>
            <p>No items</p>
        <% } %>
    </main>
</body>
</html>