<header>
    <div class="flex flex-row gap-1 h-2 top-0 w-full px-1 my-1 justify-end-safe fixed">
        <div class="flex flex-row gap-1 flex-wrap md:gap-2 h-full w-full justify-around md:justify-end-safe mx-auto md:ml-auto md:mr-0" id="navToggle">
            <%-include('icon', {href: "/", src:"/assets/home-icon.png", 
            alt:"A house icon, linking to the home page", text:"Home"}) %>

            <%-include('icon', {href: "account", src:"/assets/account-icon.png", 
            alt:"An icon of a person, linking to the account page", text:"Account"}) %>

            <%-include('icon', {href: "food-list", src:"/assets/food-list-icon.png", 
            alt:"An icon of a list with a strawberry infront, linking to the food list page", text:"Foods"}) %>
        
            <div class="flex flex-col h-full create-div">
                <%-include('icon', {src:"/assets/create-icon.png", id:"create-icon", 
                alt:"A plus icon, to show more create options", text:"Create"}) %>
                <div id="create-options" class="flex flex-col w-fit gap-0.5 mt-0 p-0.5 pt-0">
                    <%-include('icon', {href:"", src:"/assets/food-icon.png", 
                    alt:"An icon of a strawberry, linking to the create food page", text:"Food", addClass:"hidden"}) %>
                    
                    <%-include('icon', {href:"", src:"/assets/mood-icon.png", 
                    alt:"An icon of a smiling face, linking to the create mood page", text:"Mood", addClass:"hidden"}) %>
                    
                    <%-include('icon', {href:"", src:"/assets/sickness-icon.png", 
                    alt:"An icon of an ill face, linking to the create sickness page", text:"Sickness", addClass:"hidden"}) %>
                </div>
            </div>
        </div>
        <div class="flex h-full border-l-2 dark:border-l-dark-text px-1 mr-0">
            <img src="/assets/hamburger-icon.png" alt="A hamburger icon to toggle the navigation" id="hamburger" class="w-2 h-fit icon">
        </div>
    </div>
</header>

<footer>
    <a href="/" class="md:hidden fixed bottom-2 left-[50%] translate-x-[-50%] h-5 hover:h-[calc(5rem+2px)] hover:bottom-[calc(2rem-1px)] border-2 border-light-text rounded-full dark:invert">
        <img src="/assets/home-icon.png" alt="A house icon, linking to the home page" class="h-full p-1">
    </a>
</footer>

<script type="module">
    import {navScripts} from "./js/nav.js";
    
    const scripts = new navScripts();
</script>