<style>
    @import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Geist+Pixel&display=swap');
</style>
<header class="nav">
    <div class="flex flex-row gap-1 h-2 top-0 w-full px-1 my-1 justify-end-safe fixed">
        <div class="flex flex-row gap-1 flex-wrap md:gap-2 h-full w-full justify-around md:justify-end-safe mx-auto md:ml-auto md:mr-0" id="navToggle">
            <%-include('icon', {href: "/", src:"/assets/home-icon.png", 
            alt:"A house icon, linking to the home page", text:"Home"}) %>

            <%-include('icon', {href: "account", src:"/assets/account-icon.png", 
            alt:"An icon of a person, linking to the account page", text:"Account"}) %>

            <%-include('icon', {href: "food-list", src:"/assets/food-list-icon.png", 
            alt:"An icon of a list with a strawberry infront, linking to the food list page", text:"Foods"}) %>
        
            <div class="flex flex-col h-full create-div bg-light-background dark:bg-dark-background">
                <%-include('icon', {src:"/assets/create-icon.png", id:"create-icon", 
                alt:"A plus icon, to show more create options", text:"Create", addClass:"cursor-pointer"}) %>
                <div id="create-options" class="flex flex-col w-fit gap-0.5 mt-0 p-0.5 pb-1">
                    <%-include('icon', {href:"create-food", src:"/assets/food-icon.png", 
                    alt:"An icon of a strawberry, linking to the create food page", text:"Food", addClass:"hidden h-2 mb-0.5"}) %>
                    
                    <%-include('icon', {href:"create-mood", src:"/assets/mood-icon.png", 
                    alt:"An icon of a smiling face, linking to the create mood page", text:"Mood", addClass:"hidden h-2 mb-0.5"}) %>
                    
                    <%-include('icon', {href:"create-sickness", src:"/assets/sickness-icon.png", 
                    alt:"An icon of an ill face, linking to the create sickness page", text:"Sickness", addClass:"hidden h-2 md:mb-0.5 md:px-0.25"}) %>
                </div>
            </div>
        </div>
        <%-include('icon', {src:"/assets/hamburger-icon.png", 
        alt:"A hamburger icon to toggle the navigation", id: "hamburger",
        addClass: "border-l-(length:--border-size-small) dark:border-l-dark-text"}) %>
    </div>
</header>

<footer class="z-20 fixed nav">
    <% if (typeof home != 'undefined') { %>
        <div id="create-div-easy" class="flex flex-row flex-wrap p-1 bg-light-background dark:bg-dark-background md:hidden fixed bottom-2 left-[50%] translate-x-[-50%] border-(length:--border-size-small) border-light-navcolour dark:border-dark-navcolour rounded-full cursor-pointer">
            <%-include('icon', {src:"/assets/create-icon.png", id:"create-icon", 
            alt:"A plus icon, to show more create options", text:"Create", addClass:"cursor-pointer h-2"}) %>
            <div id="create-options-easy" class="flex flex-row gap-0.5 h-2 my-auto">
                <%-include('icon', {href:"/create-food", src:"/assets/food-icon.png", 
                alt:"An icon of a strawberry, linking to the create food page", addClass:"hidden"}) %>
                    
                <%-include('icon', {href:"create-mood", src:"/assets/mood-icon.png", 
                alt:"An icon of a smiling face, linking to the create mood page", addClass:"hidden"}) %>
                    
                <%-include('icon', {href:"create-sickness", src:"/assets/sickness-icon.png", 
                alt:"An icon of an ill face, linking to the create sickness page", addClass:"hidden"}) %>
            </div>
        </div>
    <% } else { %>
        <%-include('icon', {href: "/", src:"/assets/home-icon.png", 
        alt:"A house icon, linking to the home page", text:"Create", addClass:"cursor-pointer h-2 m-1"}) %>
    <% } %>
</footer>

<script type="module">
    import {navScripts} from "./js/nav.js";
    
    const scripts = new navScripts();
</script>